.title {
  text-align: center;
  font-size: 50px;
  color: white;
  font-family: "Black Han Sans", sans-serif;
}

.select {
  width: 500px;
  height: 600px;
  background-color: #ffffff5b;
  margin: 0 auto;
  border-radius: 1em;
}

.s-text {
  font-family: "Black Han Sans", sans-serif;
  font-size: 37px;
  float: left;
  position: relative;
  top: 30px;
  color: white;
}

.buttonlocation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 335px;
  height: auto;
}

.buttonlocation1 {
  display: inline;
}

.buttonlocation3 {
  display: inline;
  position: relative;
  left: 10px;
  top: 40px;
}

.buttonlocation4 {
  position: relative;
  left: 10px;
  display: flex;
}

.buttonlocation5 {
  position: relative;
  left: 120px;
  display: flex;
}

.button1 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px;
  float: left;
}

.button2 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px;
  float: left;
}

/* 2차 선택창 */
.button3 {
  font-family: "Black Han Sans", sans-serif;
  font-size: 30px;
  width: 120px;
  height: 120px;
  background-color: #4acfd2;
  border-radius: 60px;
  margin: 8px;
  float: left;
}

/* 3차 장르 선택창 */
.button4 {
  font-family: "Black Han Sans", sans-serif;
  font-size: 30px;
  width: 120px;
  height: 120px;
  background-color: #e22baf;
  border-radius: 60px;
  margin: 18px;
  float: left;
}

.button5 {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  margin: 8px;
  float: left;
}

.form {
  height: 400px;
  margin: 0 auto;
  padding: 70px;
  border-radius: 1em;
}

.formtitle {
  color: white;
  font-family: "Black Han Sans", sans-serif;
  font-size: 50px;
  text-align: center;
}
