.title {
  text-align: center;
  font-size: 50px;
  color: white;
  font-family: "Black Han Sans", sans-serif;
}

.select {
  width: 500px;
  height: 600px;
  background-color: #ffffff5b;
  margin: 0 auto;
  border-radius: 1em;
}

.s-text {
  font-family: "Black Han Sans", sans-serif;
  font-size: 30px;
  float: left;
  position: relative;
  top: 30px;
  color: white;
}

.r-text {
  font-family: "Black Han Sans", sans-serif;
  font-size: 37px;
  float: left;
  position: relative;
  top: 30px;
  color: white;
}

.buttonlocation {
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 335px;
  height: auto;
}

.buttonlocation1 {
  display: inline;
}

.buttonlocation3 {
  display: inline;
  position: relative;
  left: 25px;
  top: 50px;
}

.buttonlocation4 {
  position: relative;
  left: 10px;
  display: flex;
}

.buttonlocation5 {
  position: relative;
  left: 40px;
  display: flex;
}

.button1 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px;
  float: left;
}

.button2 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 8px;
  float: left;
}

/* 2차 선택창 */
.button3 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 50px;
  float: left;
}

/* 3차 장르 선택창 */
.button4 {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin: 20px;
  float: left;
}

.button5 {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  margin: 8px;
  float: left;
}

.form {
  height: 400px;
  margin: 0 auto;
  padding: 70px;
  border-radius: 1em;
}

.formtitle {
  color: white;
  font-family: "Black Han Sans", sans-serif;
  font-size: 50px;
  text-align: center;
}

/* 점 */

.circle {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #1e90ff;
  margin-bottom: 80px;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.rowc {
  display: inline-block;
  margin-left: 2px;
}

.c1 {
  animation: c1 1.5s linear infinite;
}

.c2 {
  animation: c2 1.5s linear infinite;
  background-color: #3fd1ff;
}

@keyframes c1 {
  0% {
    transform: translateY(0px) scale(1);
  }
  25% {
    transform: translateY(12px) scale(1.5);
    background-color: #0c87ff;
    z-index: 10;
  }
  50% {
    transform: translateY(34px) scale(1);
  }
  75% {
    transform: translateY(12px) scale(0.6);
    background-color: #3a9eff;
    z-index: 1;
    opacity: 0.1;
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes c2 {
  0% {
    transform: translateY(0px) scale(1);
  }
  25% {
    transform: translateY(-12px) scale(0.6);
    background-color: #75deff;
    z-index: 1;
    opacity: 0.1;
  }
  50% {
    transform: translateY(-34px) scale(1);
  }
  75% {
    transform: translateY(-12px) scale(1.5);
    background-color: #0fc3ff;
    z-index: 10;
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

.row2 .c1 {
  animation-delay: 0.1s;
}
.row2 .c2 {
  animation-delay: 0.1s;
}
.row3 .c1 {
  animation-delay: 0.22s;
}
.row3 .c2 {
  animation-delay: 0.22s;
}
.row4 .c1 {
  animation-delay: 0.37s;
}
.row4 .c2 {
  animation-delay: 0.37s;
}
.row5 .c1 {
  animation-delay: 0.49s;
}
.row5 .c2 {
  animation-delay: 0.49s;
}
.row6 .c1 {
  animation-delay: 0.67s;
}
.row6 .c2 {
  animation-delay: 0.67s;
}
.row7 .c1 {
  animation-delay: 0.89s;
}
.row7 .c2 {
  animation-delay: 0.89s;
}
.row8 .c1 {
  animation-delay: 0.95s;
}
.row8 .c2 {
  animation-delay: 0.95s;
}
.row9 .c1 {
  animation-delay: 1.2s;
}
.row9 .c2 {
  animation-delay: 1.2s;
}
.row10 .c1 {
  animation-delay: 1.45s;
}
.row10 .c2 {
  animation-delay: 1.45s;
}
.row11 .c1 {
  animation-delay: 1.62s;
}
.row11 .c2 {
  animation-delay: 1.62s;
}
.row12 .c1 {
  animation-delay: 1.88s;
}
.row12 .c2 {
  animation-delay: 1.88s;
}
.row13 .c1 {
  animation-delay: 2s;
}
.row13 .c2 {
  animation-delay: 2s;
}

/* 파도 */
html,
body {
  height: 100%;
}
body {
  background: radial-gradient(
    ellipse at center,
    rgba(255, 254, 234, 1) 0%,
    rgba(255, 254, 234, 1) 35%,
    #b7e8eb 100%
  );
}

.ocean {
  height: 15%;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 250px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
    swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}