.logtitle {
  width: 1500px;
  height: 800px;
  background-color: #ffffff5b;
  margin: 0 auto;
  padding: 150px;
  border-radius: 1em;
}

.form {
  height: 400px;
  margin: 0 auto;
  padding: 70px;
  border-radius: 1em;
}

.form1 {
  width: 500px;
  height: 200px;
  background-color: rgb(233, 166, 166);
  margin: 0 auto;
  padding: 15px;
  border-radius: 1em;
}

.form2 {
  width: 500px;
  height: 200px;
  margin: 0 auto;
  padding: 15px;
}

.input {
  font-size: 16px;
  color: white;
  line-height: 1.2;
  display: block;
  width: 350px;
  height: 55px;
  background: transparent;
  background-color: white;
  margin: 0 auto;
  border-radius: 1em;
}

.inputid {
  float: left;
  margin-top: -5px;
}

.inputpw {
  float: left;
  margin-top: 5px;
}

.infotext {
  color:white;
  font-family: 'Black Han Sans', sans-serif;
  font-size:25px;
  text-align: center;
  }

.label {
  margin-left: 5px;
}

ul {
  list-style:none;
}