.form {
    height: 400px;
    margin: 0 auto;
    padding: 70px;
    border-radius: 1em;
}

.formtitle {
    color: white;
    font-family: "Black Han Sans", sans-serif;
    font-size: 50px;
    text-align: center;
}