.formlist {
  height: 400px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 1em;
}

.userretitle {
  width: 1500px;
  height: 800px;
  background-color: #ffffff5b;
  border-radius: 1em;
  margin: 0 auto;
}

.Recommendtitle {
  color: white;
  font-family: "Black Han Sans", sans-serif;
  font-size: 50px;
  text-align: center;
  padding : 20px 0;
}

.ur_title {
  font-size: 20px;
  margin: 0;
}

.rectext {
  width: 358px; margin-top: 20px; resize: none;
  border: 2px solid rgb(213, 194, 194); border-radius: 0.5em; padding: 10px;
}

.v-btn__content {
  font-size: 25px;
}